<!--
<div ng-controller="CustomerSearchController"> 
 -->
<div >
<div >
	<h3 class="well well-sm" id="app-heading">
		Search
	</h3>
		<form>
			<div class="form-group">	
				<label >First Name</label>
				<input class="form-control" type="text" id="firstName">
			</div>

			<div class="form-group">
				<label>LastName</label>
				<input class="form-control" type="text" id="lastName">
			</div>
			<input type="submit" class="btn btn-default" ng-href="#/search" value="Search">
				 
		
		</form>		
	
	
</div>
<!-- Start of Customer List -->
<div>

 <h3 class="well well-sm" id="app-heading">
      Customer List
  </h3>

  <ul class="list-unstyled" id="items-list">
      <li class="col-md-4" ng-repeat="customer in customers">
          <div class="row">
          
          <!-- 
              <div class="col-xs-4">
                  <a href="javascript:void(0)"><img ng-src="images/{{ product.thumb }}" alt="" class="img-responsive"></a>
              </div>
               -->
              <div class="product-description-holder col-xs-12">
                  <h3><a ng-href="#/customer/{{customer.customerId}}">{{ customer.firstName }} {{ customer.lastName }}</a></h3>
                  <p class="address">{{ customer.address }}</p>
              </div>
          </div>
      </li>
  </ul>
  
</div>
<!--  End of Customer List -->
</div>